<!<%- include('../partials/header') %>

<body>
    <h1 id="title">Appointment System</h1>
    <table>
        <thead>
            <tr>
                <th>Location</th>
                <th>Doctor</th>
                <th>Date</th>
                <th>Time</th>
            </tr>
        </thead>
        <% if (user) { %>

            <tbody>
                <% appointments.forEach(function(a) { %>
                    <tr>
                        <td>
                            <%= a.location %>
                        </td>
                        <td>
                            <%= a.doctor %>
                        </td>
                        <td>
                            <%= a.date %>
                        </td>
                        <td>
                            <%= a.time %>
                        </td>
                        <td>
                            <a href="/appointments/<%= a.id %>">Appointment Details</a>
                        </td>
                        <td>
                        <form action="/appointments/<%= a._id %>?_method=DELETE" method="POST">
                            <button type="submit">X</button>
                        </form> 
                    </td>
                    </tr>
                    <% }); %>
            </tbody><br>
            <% } %>

    </table>
</body>

</html>
<a href="/appointments/new">new</a>
