<!<%- include('../partials/header') %>

    <body id="apptBody">
        <h1 id="title">Appointment System</h1>
        <table>
            <% if (user) { %>
                <thead>
                    <tr>
                        <th>Location</th>
                        <th>Doctor</th>
                        <th>Date</th>
                        <th>Time</th>
                    </tr>
                </thead>


                <tbody>
                    <% appointments.forEach(function(a) { %>
                        <tr>
                            <td class="td">
                                <%= a.location %>
                            </td>
                            <td class="td">
                                <%= a.doctor %>
                            </td>
                            <td class="td">
                                <%= a.createdAt.toLocaleDateString() %>
                            </td>
                            <td class="td">
                                <%= a.time %>
                            </td>
                            <td class="td">
                                <a href="/appointments/<%= a._id %>">Appointment Details</a>
                            </td>
                            <td class="td">
                                <a href="/appointments/<%= a._id %>/edit">Edit Appointment</a>
                            </td>
                            <td>
                                <form action="/appointments/<%= a._id %>?_method=DELETE" method="POST">
                                    <button type="submit">X</button>
                                </form>
                            </td>
                        </tr>
                        <% }); %>
                </tbody><br>
        </table>
    </body>
    <a href="/appointments/new" id="newAppt">Create New Appointment</a>
    <% } else { %>
        <h3 id="requireLogin">Please Login</h3>
        <% } %>
            <%- include('../partials/footer') %>