<%- include('../partials/header') %>
  <div id="showBody">
    <section id="show-page">
      <div>Location: </div>
      <div>
        <%= appointment.location %>
      </div><br>
      <div>Doctor: </div>
      <div>
        <doc>
          <%= appointment.doctor %>
        </doc>
        <doc><a href="/doctors">All doctors</a></doc>
      </div><br>
      <div>Date: </div>
      <div>
        <%= appointment.date.toLocaleDateString() %>
      </div><br>
      <div>Time: </div>
      <div>
        <%= appointment.time %>
      </div>
    </section>

    <br><br>
    <h2>Appointment Feedback</h2>
    <form id="feedback-form" method="POST" action="/appointments/<%= appointment._id%>/feedbacks">
      <label>Feedback:</label><br>
      <textarea name="content"></textarea><br>
      <button type="submit">send</button>
    </form>

    <% if (appointment.feedbacks.length) { %>
      <table>
        <thead>
          <tr>
            <th>User</th>
            <th>Date</th>
            <th>Appointment Feedback</th>
          </tr>
        </thead>
        <tbody>
          <% appointment.feedbacks.forEach(function(f) { %>
            <tr>
              <td class="feedback-user"><img alt="avatar" src="<%= f.userAvatar %>"><br>
                <%= f.userName %>
              </td>
              <td>
                <%= f.createdAt.toLocaleDateString() %>
              </td>
              <td>
                <%= f.content %>
              </td>
              <td>
                <form action="/feedbacks/<%= f._id %>?_method=DELETE" method="POST">
                  <button type="submit">Delete</button>
                </form>
              </td>
            </tr>
            <% }); %>
        </tbody>
      </table>
      <% } else { %>
        <h5>No Feedback</h5>
        <% } %>
  </div>
  <%- include('../partials/footer') %>